<h1>Listas Públicas</h1>

<table>
  <tbody>
    <% @status.each do |publica| %>
      <tr>
        <td><%= link_to publica.name, new_favorite_path(publica, :id=>current_user, :list=> publica.id, :name =>publica.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Voltar', lists_path %>
